/*------------------------------------*\
  #BASE
\*------------------------------------*/

* {
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

button {
    font-size: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
}

body {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    margin: 0;
}



/*------------------------------------*\
  #HEADER
\*------------------------------------*/

a,
button {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
}

a:hover,
a:focus,
button:hover,
button:focus {
    color: unset;
}

.button {
    border: 2px solid currentColor;
    padding: 0.75em 1.25em;
    border-radius: 16px;
    display: inline-block;
}

header,
header ul:not(.dropdown__menu) {
    display: flex;
    align-items: center;
}

header {
    padding: 1.5em 4.5vmin;
    gap: 3em;
}

header ul {
    gap: 2em;
}

.dropdown {
    position: relative;
}

.dropdown__title {
    padding: 0.75em 0;
}

.dropdown__title img {
    /* Optically align the up/down arrow with the text */
    transform: translateY(-2px);
    margin-inline-start: 2px;
    display: inline-block;
}

.dropdown__menu {
    background-color: hsl(0, 0%, 100%);
    padding: 1.5em;
    border-radius: 8px;
    box-shadow:
      0px 0.6px 2px -5px rgba(0, 0, 0, 0.025),
      0px 1.3px 4.9px -5px rgba(0, 0, 0, 0.036),
      0px 2.5px 9.3px -5px rgba(0, 0, 0, 0.045),
      0px 4.5px 16.5px -5px rgba(0, 0, 0, 0.054),
      0px 8.4px 30.9px -5px rgba(0, 0, 0, 0.065),
      0px 20px 74px -5px rgba(0, 0, 0, 0.09)
    ;
    position: absolute;
    width: max-content;

    /* Initially hide the dropdown menu */
    transform: rotateX(90deg);
    transform-origin: top center;
    opacity: 0.3;
    visibility: hidden;
}

/* Add a smooth transition and delay to prevent the dropdown animation
   from trigerring for "drive-by" mouseovers (h/t Stephanie Eckles) */
.dropdown__arrow,
.dropdown__menu {
    transition: 150ms all 120ms ease-out;
}

.dropdown:hover .dropdown__menu,
.dropdown:focus-within .dropdown__menu {
    opacity: 1;
    transform: rotateX(0);
    visibility: visible;
}

.dropdown:hover .dropdown__arrow,
.dropdown:focus-within .dropdown__arrow {
    transform: rotate(-180deg) translateY(2px);
}

.dropdown__menu > * + * {
    margin-top: 1em;
}

#features-dropdown {
    right: 0;
}

.user-actions {
    margin-left: auto;
}


/*------------------------------------*\
  #MAIN
\*------------------------------------*/

main {
    text-align: center;
    display: grid;
    grid-template-columns: max(0.8em, 4vmin) 1fr 1fr max(0.8em, 4vmin);
    grid-template-areas:
        "hero hero    hero    hero"
        ".... text    text    ...."
        ".... clients clients ....";
}

main .hero    { grid-area: hero;    }
main .text    { grid-area: text;    }
main .clients { grid-area: clients; }

main .hero img {
    width: 100%;
}

h1 {
    margin-block: 0;
    font-size: 2.2rem;
}

main p {
    color: hsl(0, 0%, 41%);
    line-height: 1.6;
    margin-block: 1.2em 1.5em;
}

main .button {
    font-weight: 700;
    padding: 0.95em 1.45em;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 8%);
    transition: 150ms ease-out;
}

main .button:hover,
main .button:focus {
    color: unset;
    background-color: unset;
}

main .text {
    margin-block: 3em;
    max-width: 550px;
    margin-inline: auto;
}

.clients__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    max-width: 480px;
    margin-inline: auto;
}

body > :last-child {
    margin-bottom: 4em;
}

@media (min-width: 800px) {
    main {
        margin-block: 2em;
        text-align: unset;
        grid-template-areas: 
            ". text    . hero ."
            ". clients . hero .";
        grid-template-columns:
            clamp(1em, 11.5vw, 10em) 3fr 0.5fr 2.5fr clamp(1em, 9vw, 10em);
    }

    main .text {
        max-width: unset;
        margin-inline: unset;
        margin-block: 7vw;
    }

    main {
        font-size: clamp(1rem, 1.27vw, 1.2rem);
    }

    h1 {
        font-size: clamp(2.9rem, 5.5vw, 6rem);
        max-width: 6.6em;
    }

    main p {
        max-width: 25em;
        margin-block: 2.5em 2.5em;
    }

    .clients__grid {
        margin-inline: unset;
    }

    main .hero {
        margin-block: auto;
    }
}




/*------------------------------------*\
  #UTILITY-CLASSES
\*------------------------------------*/

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
